* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 500px;
    height: 250px;
    max-width: 70%;
}

button {
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
    text-transform: uppercase;
}

.output
{  width: 100%;
    margin:100px;
  
}